{% extends "problems/base.html" %}
{% block content %}
    <div class="col show-white-space">
        <h2>{{problem.id}}. {{problem.title}}   {{problem.difficulty}}</h2>
        {{problem.content}}
    <div>
    <div class="col">
        <div class="">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Submit the Solution</legend>
                    <input type="file" id="solution" name="solution">
                </fieldset>
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}